<h3><%= @recipe.name %></h3>


<h5> Description </h5>
<div> <%= @recipe.description %> </div>


<h5> Malt and Grains </h5>
<div> <%= @recipe.malt_grains %> </div>


<h5> Hops Schedule </h5>
<div> <%= @recipe.hops_schedule %> </div>


<h5> Directions </h5>
<div> <%= @recipe.directions %> </div>


<h5> Yeast </h5>
<div> <%= @recipe.yeast %> </div>


<% if @recipe.user == current_user %>
  <%= link_to "Edit Recipe", edit_recipe_path(@recipe) %>
  <%= link_to "Delete Recipe", recipe_path(@recipe), method: :delete %>
<% end %>

<% if @recipe.reviews.find_by(user: current_user) == nil %>
  <div class="row">
    <%= link_to "Review Recipe", new_recipe_review_path(@recipe) %>
  </div>
<% end %>

<div class="row">
  <% if @reviews.present? %>
    <h5>Reviews</h5>
    <% @reviews.order(created_at: :desc).each do |review| %>
      <ul>
        <div class="row">
          <div class="columns large-12 small-6">
            <li>
              <%= review.title.capitalize %>
            </li>
            <li>Rating:
              <%= review.rating %>
            </li>
            <% unless !review.description.present? %>
            <li> Description:
              <%= review.description %>
            </li>
            <% end %>
            <% if current_user == review.user %>
              <li class="small-font"><%= link_to "Edit Review", edit_review_path(review) %> or
              <%= link_to "Delete Review", review_path(review), method: :delete %></li>
            <% end %>
          </div>
        </div>
      </ul>
    <% end %>
  <% end %>
</div>

<%= link_to "Back to Recipes", recipes_path %>
