<h3><%= @recipe.name %></h3>
<br>
<br>
<h5> Description </h5>
<div> <%= @recipe.description %> </div>
<br>
<br>
<h5> Malt and Grains </h5>
<div> <%= @recipe.malt_grains %> </div>
<br>
<br>
<h5> Hops Schedule </h5>
<div> <%= @recipe.hops_schedule %> </div>
<br>
<br>
<h5> Directions </h5>
<div> <%= @recipe.directions %> </div>
<br>
<br>
<h5> Yeast </h5>
<div> <%= @recipe.yeast %> </div>
<br>
<br>
<% if @recipe.user == current_user %>
  <%= link_to "Edit Recipe", edit_recipe_path(@recipe) %>
  <%= link_to "Delete Recipe", recipe_path(@recipe), method: :delete %>
<% end %>
<br>
<br>
<%= link_to "Review recipe", new_recipe_review_path %>
<br>
<br>
<%= link_to "Back to Recipes", recipes_path %>
