<div class="title">Community</div>

<div class="row">
    <% @users.each do |user| %>
    <div class="medium-12 large-12 columns">
      <article class="index text-center member-list member<%= user.id %>">
        <%= link_to user.username, user_path(user) %>
        <%= user.city %></td>
        <% if current_user.admin == true %>
        Admin: <%= user.admin %>
        <div class="delete-user">
          <%= link_to "Delete user", user_path(user), method: :delete %>
        </div>
        <div class="change-status">
          <%= link_to "Change admin status", user_path(user), method: :put %>
        </div>
        <% end %>
    </article>
  </div>
  <% end %>
</div>
<br>
<div>
<%= link_to "Back to home", root_path %>
</div>
