<h1>Users Index</h1>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>City</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr class="member-list">
        <td><%= link_to user.username, user_path(user) %></td>
        <td><%= user.city %></td>
        <% if current_user.admin == true %>
        <td>Admin: <%= user.admin %>
        <td><%= link_to "Delete user", user_path(user), method: :delete %></td>
        <td><%= link_to "Change admin status", user_path(user), method: :put %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div>
<%= link_to "Back to home", root_path %>
</div>
