<h3 class="title">User Info</h3>

<div class="recipe-body">
  <h5> Username </h5>
  <div> <%= @user.username %> </div>
  <br>
  <h5> City </h5>
  <div> <%= @user.city %> </div>
  <br>
  <h5> Contributed Recipes </h5>
  <% if @user.recipes.present? %>
    <div> <% @user.recipes.each do |recipe| %>
      <li> Name: <%= recipe.name %> </li>
      <li> Average Score:
        <% if recipe.reviews.count != 0 %>
          <%= recipe.average_score %>
        <% else %>
          No Reviews Yet
        <% end %>
      </li>
      <br>
      <% end %>
    </div>
  <% end %>
</div>

<%= link_to "All Users", users_path, class: "back-link" %>
