<div class="small-12 medium-4 columns text-center">
<%= link_to(image_tag("hops_icon.png", size: "200"), recipes_path)%><br>
<%= link_to "VIEW RECIPES", recipes_path, class: "home-link" %>
</div>
<div class="small-12 medium-4 columns text-center">
  <% if current_user != nil %>
    <%= link_to(image_tag("user_icon.png", size: "200"), users_path)%><br>
    <%= link_to "VIEW USERS", users_path, class: "home-link" %>
  <% end %>
</div>
<div class="small-12 medium-4 columns text-center">
  <%= link_to(image_tag("group_icon.png", size: "200"), groups_path)%><br>
  <%= link_to "VIEW GROUPS", groups_path, class: "home-link" %>
</div>
