<!DOCTYPE html>
<html>
<head>
  <title>BrewersBoard</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta content='<%= user_signed_in? ? current_user.id : "" %>' name='user-id'/>
</head>
<body>

  <nav class="top-bar">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/">BrewersBoard</a></h1>
      </li>
    </ul>

    <section class="top-bar-section">
      <ul id="drop" class="top-bar right [tiny small medium large content]f-dropdown" data-dropdown-content>
        <li class="has-form">
          <div class="row collapse">
            <%= render "layouts/search" %>
          </div>
        </li>
        <%- if current_user -%>
          <li><%= link_to 'Create Recipe', new_recipe_path %></li>
          <li><%= link_to 'Create Group', new_group_path %></li>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
          <li><%= link_to 'Profile', user_path(current_user) %></li>
        <%- else -%>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
          <li><%= link_to 'Sign In', new_user_session_path %></li>
        <%- end -%>
      </ul>
    </section>
  </nav>
      <% flash.each do |name, msg| %>
        <% if msg.is_a?(String) %>
          <%= content_tag :div, msg, class: "alert-box #{name} radius" %>
        <% end %>
      <% end %>
  <div class="row">
    <div class="small-centered large-centered text-center">
      <div class="main-area large-12 medium-11 small-10 columns">
      <%= yield %>

      <%= javascript_include_tag 'application' %>
      <%= yield :extra_footer %>
      </div>
    </div>
  </div>
  <div id='footer'>
  </div>
  <audio id="chatAudio"><source src="/sounds/notification.mp3" type="audio/mpeg"></audio>
  <%= javascript_include_tag "application" %>
</body>
</html>
